<% @page_title = "Content Library / View Usages" %>
<% @toolbar_title = "Pages Using '#{ @block.name }'" %>
<%= content_for :html_head, stylesheet_link_tag("cms/content_library") %>

<%= render :partial => 'cms/blocks/toolbar' %>

<table id="blocks">
  <tr>
    <th>Page Name</th>
    <th>Path</th>
  </tr>
  <% @pages.each do |page| %>
    <tr>
      <td class="page_name"><%=  page.name %></td>
      <td class="path"><%=  link_to page.path, page.path %></td>
    </tr>
  <% end %>
</table>
