<div class="fields" id="assets_table">
  <label><span id="asset-name"><%= block.class.name %></span> Attachments</label>
  <br /><br />
    <table style="display:<%= block.multiple_attachments.empty? ? "none" : "block"%>">
      <tr>
        <th>Preview</th>
        <th>Type</th>
        <th>Size</th>
        <th></th>
      <tr>
    <% for attachment in block.multiple_attachments %>
      <% unless attachment.new_record? %>
        <%= render :partial => "cms/attachments/attachment", :locals => { :attachment => attachment, :can_delete => can_delete } %>
      <% end %>
    <% end %>
  </table>
</div>