<div class="fields" id="assets_table">
  <table class="table table-bordered assets">
    <thead>
      <tr>
        <th>Preview</th>
        <th>Type</th>
        <th>Size</th>
        <th>Actions</th>
      <tr>
    </thead>
    <tbody>
    <% if @block.multiple_attachments.empty? %>
        <tr class='empty-row'><td colspan="4"   >There are no attachments yet.</td></tr>
    <% end %>
    <% for attachment in block.multiple_attachments %>
        <% unless attachment.new_record? %>
            <%= render :partial => "cms/attachments/attachment", :locals => {:attachment => attachment, :can_delete => can_delete} %>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>