<% use_page_title "Page Not Found" %>

<%#
  Note that we have to clear out the existing contents of
  the functions and html_head content because you can have
  an error occur in the view after stuff has been already
  set in those variables
%>
<% @content_for_html_head = "" %>

<%= render layout: 'page_title' do %>
    <div class="right btn-group">
      <%= cancel_button :top, 'Back' %>
    </div>
<% end %>

<div class="row-fluid padded">
  <p>There is no page at <%= @path %></p>
</div>