<%# Generic Save/Cancel used by a number of views. %>
<%= button_menu location do %>
    <%= f.button :save, location: location %>
    <div class="btn-group right">
      <%= cancel_button location %>
    </div>
<% end %>