<div class="fields">
  <%= label_tag "groups", "Groups"%>
	<ul>
  <% Group.find(:all).each do |g| %>
		<li><%= check_box_tag("group_ids[]", g.id, group_ids.include?(g.id), :id => "group_id_#{g.id}") %> <%= g.name %></li>
	<% end %>
	</ul>
</div>