<div class="fields text_fields">
    <%= f.label :password %>
    <%= f.password_field :password, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :password_confirmation, t("users.password.confirm_password") %>
    <%= f.password_field :password_confirmation, :autocomplete => "off" %>
</div>
