<div class="fields text_fields">
    <%= f.label :password, User.human_attribute_name("password") %>
    <%= f.password_field :password, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :password_confirmation, User.human_attribute_name("confirm_password") %>
    <%= f.password_field :password_confirmation, :autocomplete => "off" %>
</div>
