<div class="fields">
    <%= f.label :password %>
    <%= f.password_field :password %>
</div>
<div class="fields">
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
</div>