<section class="container center-column main-container bottom-form-btn clearfix">
    <div class="padded row-fluid clearfix">
        <h1 class="span6">Add A New Page</h1>

        <span class="span6 top-buttons">
            <button type="submit" class="right btn btn-small btn-primary">Publish</button>

            <div class="btn-group right">
                <button type="submit" class="btn btn-small">Cancel</button>
                <button type="submit" class="btn btn-small">Preview</button>
                <button type="submit" class="btn btn-small">Save Draft</button>
            </div>
        </span>
    </div>


    <div class="padded row-fluid clearfix">
        <div class="span8 main-content">
            <input type="text" name="page-title" id="page-title" class="input input-block-level input-xxlarge" placeholder="Page Title">

            <span class="row-fluid">
                <label for="section">Section</label>
                <select name="section" id="template">
                    <option selected>Section 1</option>
                    <option>Section 2</option>
                    <option>Section 3</option>
                </select>
            </span>

            <span class="row-fluid">
                <label for="url">URL</label>
                <input id="url" type="text" placeholder="http://www.yourwebsite.com/section/page" disabled>

                <span>
                    <a href="#" class="add-link right">Edit</a>
                </span>
            </span>

            <span class="row-fluid">
                <label for="template">Template</label>
                <select name="template" id="template">
                    <option selected>Template 1</option>
                    <option>Template 2</option>
                    <option>Template 3</option>
                </select>
            </span>

            <textarea class="input-block-level" rows="15"></textarea>

            <label class="checkbox inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3"> Use as Reference Text
            </label>

            <hr>

            <h3>Search Engine Optimization</h3>

            <span class="row-fluid">
                <label for="browsertitle">Browser Title</label>
                <input id="browsertitle" type="text" placeholder="Page Title - Website" disabled>

                <span>
                    <a href="#" class="add-link right">Edit</a>
                </span>
            </span>

            <label for="description">Meta Description</label>
            <textarea class="input-block-level" id="description" rows="4"></textarea>

            <label for="description" class="input-block-level">Keywords <a href="#" class="add-link">Add</a></label>
        </div>

        <div class="span4">
            <div class="sidebar-block">
                <h4 class="gray">Status &nbsp; <span class="dark">Draft</span></h4>
                <h4 class="gray label">Publish Date</h4>
                <h4>June 31, 2013 <a href="#" class="add-link right">Edit</a></h4>
                <h4 class="gray label">Visibility</h4>
                <select class="input-block-level">
                    <option selected>Public</option>
                    <option>Hidden</option>
                    <option>Archived</option>
                </select>
            </div>

            <div class="sidebar-block">
                <h4 class="gray label">Assign This Page</h4>
                <select class="input-block-level">
                    <option selected>Select A Name</option>
                    <option>Kyle Conrad</option>
                    <option>Courtney Leonard</option>
                    <option>John Salmon</option>
                </select>

                <span class="row-fluid">
                    <label for="duedate" class="span4">Due Date</label>
                    <input type="date" name="duedate" id="duedate" class="input span8">
                </span>

            </div>

            <div class="sidebar-block">
                <h4 class="gray label">Review Date</h4>
                <h4>December 12, 2013 <a href="#" class="add-link right">Edit</a></h4>
            </div>

            <div class="sidebar-block">
                <h4 class="gray">Tags <a href="#" class="add-link right">Add</a></h4>

                <div class="alert alert-inverse alert-small">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    New Content
                </div>

                <div class="alert alert-inverse alert-small">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Creativity
                </div>

                <div class="alert alert-inverse alert-small">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Awesome
                </div>
            </div>

            <div class="sidebar-block">
                <h4 class="gray">Permissions <a href="#" class="add-link right">Add</a></h4>

                <div class="alert alert-inverse alert-small">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    CMS Admins
                </div>

                <div class="alert alert-inverse alert-small">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Content Editors
                </div>

                <div class="alert alert-inverse alert-small">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Marketing
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions clearfix">
        <button type="submit" class="right btn btn-primary">Publish</button>

        <div class="btn-group right">
            <button type="submit" class="btn">Cancel</button>
            <button type="submit" class="btn">Preview</button>
            <button type="submit" class="btn">Save Draft</button>
        </div>
    </div>

</section>

&nbsp;

