<section class="container center-column main-container no-bottom clearfix">
    <div class="padded row-fluid clearfix">
        <h1 class="span3">Assets</h1>

        <form class="form-search">
            <input type="text" class="span6 search-query right" placeholder="Search Assets">
        </form>
    </div>

    <div class="padded row-fluid clearfix">
        <div class="btn-group span3 top-buttons">
            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                Images &nbsp;<span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

        <span class="span9 top-buttons">
            <button type="submit" class="right btn btn-small btn-primary primary-cta">Publish</button>

            <div class="btn-group right">
                <button type="submit" class="btn btn-small">Archive</button>
                <button type="submit" class="btn btn-small">Delete</button>
            </div>

            <h4 class="right">21 ITEMS</h4>
        </span>
    </div>

    <div class="main-content padded row-fluid clearfix">
        <table class="table table-bordered assets">
            <thead>
                <tr>
                    <th class="check-cell"><input type="checkbox"></th>
                    <th>Name <a href="#" class="caret"></a></th>
                    <th>Date Added <a href="#" class="caret"></a></th>
                    <th>Uploaded By <a href="#" class="caret"></a></th>
                    <th>Used <a href="#" class="caret"></a></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="check-cell"><input type="checkbox"></td>
                    <td>Image-Large-01.jpg <span class="draft">Draft</span></td>
                    <td>Nov 12, 2013</td>
                    <td>Kyle Conrad</td>
                    <td>Homepage</td>
                </tr>

                <tr>
                    <td class="check-cell"><input type="checkbox"></td>
                    <td>Image-Large-02.jpg</td>
                    <td>Nov 11, 2013</td>
                    <td>Brandon Jones</td>
                    <td>News</td>
                </tr>

                <tr>
                    <td class="check-cell"><input type="checkbox"></td>
                    <td>Image-Medium-04.jpg</td>
                    <td>Nov 9, 2013</td>
                    <td>Kerry Gunther</td>
                    <td>About</td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group btn-bottom-margin">
            <div class="btn-group">
                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                    Select Assets &nbsp;<span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    <li><a href="#">Published</a></li>
                    <li><a href="#">Draft</a></li>
                </ul>
            </div>
        </div>
    </div>

</section>