<section class="container center-column main-container no-bottom clearfix">
    <div class="padded row-fluid clearfix">
        <h1>Dashboard</h1>

        <div class="row-fluid">
            <div class="span6">
                <h3>My Tasks</h3>

                <table class="table table-bordered dashboard">
                    <thead>
                        <tr>
                            <th>Page</th>
                            <th>Assigned By</th>
                            <th>Date Due</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Homepage</td>
                            <td>Kyle Conrad</td>
                            <td>Dec 1, 2013</td>
                        </tr>

                        <tr>
                            <td>About</td>
                            <td>Kyle Conrad</td>
                            <td>Dec 1, 2013</td>
                        </tr>

                        <tr>
                            <td>News</td>
                            <td>Kerry Gunther</td>
                            <td>Dec 31, 2013</td>
                        </tr>
                    </tbody>
                </table>


                <h3>My Activity</h3>

                <table class="table table-bordered dashboard">
                    <thead>
                        <tr>
                            <th>Page</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Homepage</td>
                            <td>Dec 1, 2013</td>
                        </tr>

                        <tr>
                            <td>About <span class="draft">Draft</span></td>
                            <td>Dec 1, 2013</td>
                        </tr>

                        <tr>
                            <td>News</td>
                            <td>Dec 31, 2013</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="span6">
                <h3>All Activity</h3>

                <table class="table table-bordered dashboard">
                    <thead>
                        <tr>
                            <th>Page</th>
                            <th>User</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Homepage <span class="draft">Draft</span></td>
                            <td>Kyle Conrad</td>
                            <td>Dec 1, 2013</td>
                        </tr>

                        <tr>
                            <td>About</td>
                            <td>Kyle Conrad</td>
                            <td>Dec 1, 2013</td>
                        </tr>

                        <tr>
                            <td>News</td>
                            <td>Kerry Gunther</td>
                            <td>Dec 31, 2013</td>
                        </tr>

                        <tr>
                            <td>Homepage <span class="draft">Draft</span></td>
                            <td>Kyle Conrad</td>
                            <td>Jan 1, 2014</td>
                        </tr>

                        <tr>
                            <td>About</td>
                            <td>Kyle Conrad</td>
                            <td>Jan 11, 2014</td>
                        </tr>

                        <tr>
                            <td>News</td>
                            <td>Kerry Gunther</td>
                            <td>Feb 1, 2014</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
