<div id="submenu">
    <div class="container center-column">
        <span class="status draft">This page is in draft status</span>

        <span class="last-saved">Last saved: <strong>Nov 14, 2013</strong></span>

        <button type="submit" class="right btn btn-small btn-primary primary-cta">Publish</button>

        <div class="btn-group right">
            <button type="submit" class="btn btn-small">Configure Metadata</button>
            <button type="submit" class="btn btn-small">Save Draft</button>
        </div>
    </div>
</div>

<section class="container center-column main-container no-bottom clearfix">
    <div class="padded row-fluid clearfix">
        <h1>Submenu</h1>
    </div>
</section>
