coverage/**/*
.DS_Store
log/*.log
tmp/**/*
db/*.sqlite3
db/schema.rb
config/database*.yml
public/images/tuneup
public/javascripts/tuneup
public/stylesheets/tuneup
*.gem
.dotest
.idea
tmp/restart.txt
patches
rerun.txt
test/dummy/log/*
test/dummy/tmp/*
doc/api
.yardoc/*
.bundle/*
test/dummy/db/backups/*
test/dummy/.sass-cache
test/dummy/config/database.yml
test/dummy/.powder
test/dummy/.rvmrc
.sass-cache
.rvmrc
db/backups
