coverage/**/*
.DS_Store
log/*.log
tmp/**/*
db/*.sqlite3
db/schema.rb
config/database.yml
public/images/tuneup
public/javascripts/tuneup
public/stylesheets/tuneup
*.gem
.dotest
.idea
tmp/restart.txt
public/cache
patches
rerun.txt
test/dummy/log/*
test/dummy/tmp/*
doc/api
.yardoc/*
.rvmrc
.bundle/*
test/dummy/db/backups/*
