This email is in response to your request to reset your password. Please follow the link below and fill in the password fields to the new credentials you wish to use to authenticate yourself.

<a href="<%= @url %>"><%= @url %></a>
