<div id="<%= css_id %>" class="<%= css_class %>">
<% unless items.empty?
%>  <ul>
<% items.each_with_index do |item, i|
      %><%= render :partial => "/cms/menus/menu_item", :object => item, :locals => { :depth => 1, :position => i + 1, :item_count => items.length }
      %><% end 
%>  </ul>
<% end
%></div>
