/* PRIMARY ACTION BUTTONS */
.top-buttons {
	@include rem(padding-top,0.3rem);

	h4 {
		@include rem(margin-right,3rem);
		@include rem(line-height,2.5rem);
	}

	.btn-primary,
	.btn-group {
		@include rem(margin-left,0.5rem);

		&.dropdown-toggle {
			margin-left: 0;
		}
	}

	.form-inline {
		margin-bottom: 0;

		label,
		select {
			display: inline-block;
			float: left;
		}

		.show-sort {
			@include rem(width,9rem);
			@include rem(margin-right,1rem);
			@include rem(margin-left,0.65rem);
		}
	}

	.pull-right {
	    &:after {
	        left: auto;
	        right: 16px;
	    }
	}
}

.form-actions {
	margin-bottom: 0;
	margin-top: 30px;

	.btn-primary {
		@include rem(margin-left,0.75rem);
	}

	button,
	.btn,
	.btn-group {
		margin-bottom: 0;
	}
}

.bottom-form-btn {
	padding-bottom: 0;
}

.btn-group {
  .btn-primary {
    font-size: 1.2rem;
  }
  .dropdown-toggle {
    padding: 0 1.75rem !important;
  }
}

.btn-bottom-margin {
	@include rem(margin-bottom,1rem);
}