/* SITEMAP TABLE */
.sitemap {
	tbody {
		tr {
			&:first-child {
				td {
					@include border-radius(5px 5px 0 0);
				}
			}
		}

		td {
			position: relative;

			&:hover {
				background: rgba($gray,0.175);
				cursor: pointer;

				.type-icon {
					@include opacity(1);
				}
			}

			&.active {
				background: rgba($gray,0.4);

				.type-icon {
					@include opacity(1);
				}
				.icon-folder {
					&:before {
						content: "\e00e";
					}
				}
			}
		}
	}

	.level-one {
	}
	.level-two {
		padding-left: 30px;
	}
	.level-three {
		padding-left: 60px;
	}
	.level-four {
		padding-left: 90px;
	}
	.level-five {
		padding-left: 120px;
	}

	.type-icon {
		@include rem(font-size,0.85rem);
		vertical-align: top;
		margin-right: 8px;
		@include opacity(0.8);
		margin-top: 1px;
	}
}

.edit-group {
	height: 70%;
	position: absolute;
	top: 15%;
	left: 45%;
	@include opacity(0);
	@include transition(0.15s);
	list-style-type: none;
	@include border-radius(2px);

	&:hover {
		background: rgba($primary,0.65);
	}

	li {
		display: block;
		float: left;
		height: 100%;
		list-style-type: none;
		padding: 0;
		margin: 0;
		background: rgba($primary,0.7);
		border-top: 1px solid rgba(black,0.1);
		border-bottom: 1px solid rgba(black,0.1);
		border-right: 1px solid rgba(black,0.1);
		@include transition(background 0.2s);

		&:first-child {
			@include border-radius(2px 0 0 2px);
			border-left: 1px solid rgba(black,0.1);
		}
		&:last-child {
			@include border-radius(0 2px 2px 0);
		}

		&:before {
			display: none;
		}

		&:hover {
			background: darken($primary,3%);
		}

		.add-link {
			display: block;
			margin: 0;
			padding: 0 20px;
			height: 100%;
			line-height: 25px;
			margin-left: 0;
			color: white;
			-webkit-font-smoothing: antialiased;
			border: 0;
		}
	}

	td:hover &,
	td.active & {
		@include opacity(1);
	}
}

.permission-group {
	float: right;
	display: inline-block;
	cursor: default;

	.draft {
		color: white;
		text-transform: uppercase;
		background: $danger;
		font-weight: 700;
		padding: 2px 5px;
		@include border-radius(2px);
		@include rem(font-size,0.875rem);
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		vertical-align: top;
	}

	.permission-icon {
		color: $danger;
		@include rem(font-size,0.875rem);
		vertical-align: top;
		margin-left: 10px;
	}
}