// A Container that can hold one or more content blocks.
// Style only appears during page editing.
.cms-container {
  outline-color: #999;
  outline-style: dashed;
  outline-width: 1px;
  position: relative;
  height: auto;
  display: block;
  margin: 2px;
  padding: 4px;
}

// A Container in 'Preview' mode. It should be completely invisible to users.
.cms-container-preview {
  outline-color: #999;
  outline-style: dashed;
  outline-width: 0px;
  position: relative;
  height: auto;
  display: inline;
  margin: 0px;
  padding: 0px;
}

// The 'Add Content' link that appears when containers are visible.
.cms-add-content {

}

// *****************************************************************
// Deprecated (pre 4.0)
// The rest of these are the pre 4.0 UI controls and can be safely deleted after the UI revamp is complete.
// *****************************************************************

// Minimalist styles for page editing controls that are added to CMS pages in edit mode.
image.cms-content-button {
  text-decoration: none;
  padding: 0;
  background: none;
  margin: 0;
  float: none;
  border: none;
}

a.cms-content-link {
  text-decoration: none;
  padding: 0 2px 0 0;
  background: none;
  margin: 0;
  float: none;
  border: none;
}

a.cms-content-status {
  @extend a.cms-content-link;
  position: absolute;
  top: -1px;
  right: 10px;
}

.cms-outer-container {
  display: block;
  height: auto;
  position: relative;
  border: 1px solid #999;
  margin: 1px -6px 0 -6px;
  padding: 25px 5px 0 5px;
  background: image-url("cms/containers/beta.png") repeat-x 0 0;
}

// Deprecated (pre 4.0)
.cms-inner-container {
  display: block;
  width: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
}