#functions .box {
background: url(/images/cms/administration/user_browser_bg.gif) repeat-x 0 0;
text-transform: capitalize;
margin-top: -5px;
border: 1px solid #4E5359;
 padding: 4px 0 7px 0;
 float: right;
 color: #FFF;
height: 22px;
}
#functions {
padding-bottom: 25px;
}
table.data td a {
color: #36659D;
font-weight: bold;
text-decoration: none;
}
fieldset.form legend {
font-weight: bold;
font-size: large;
padding: 40px 0 10px 20px;
}
.box input, .box select {
margin: 0 5px;
color: #717171;
}
.box div {
float:left;
}
.box .cb input {
display: block;
float:left;
margin-top: 4px;
* margin-top: 1px;
}

.box .cb span {
display: block;
float:left;
margin-top: 6px;
* margin-top: 8px;
font-size: 8pt;
}
.box .cb {
margin-right: 8px;
}

#per_page_input, #group_id_input, #key_word {
border: 1px solid #51585E;
}
#key_word {
margin-left: 6px;
padding: 4px 0 1px 3px;
height: 18px;
}
#user_search_submit_container {
margin-left: -11px;
* margin-top: 1px;
}
.box div.selectbox-wrapper {
  margin: -1px 0 0 5px;
* margin:  25px 0px 0px -160px;
  border: 1px solid #51585E;
  border-top: 1px solid #C6C6C6;  
  color: #717171;
}

.text_editor_fields #label_for_page_template_language {
position: absolute; margin: 6px 0 0 310px;
}
.text_editor_fields #page_template_language_input {
margin-left: 381px;
}
table.data td a.sm_button {
	   margin-top: -12px;
	   margin-left: 40px;
	   position: absolute;
	   height: 15px;
	   width: 38px;
	display: block;
	background: url(/images/cms/buttons/sm_button_2.gif) no-repeat top right;
	color: #FFFFFF;
}
table.data td a.sm_button span{
	   padding: 2px 0 0 3px;
	   display: block;
}
table.data td a.sm_button:hover {
	background: url(/images/cms/buttons/sm_button_2_h.gif) no-repeat top right;
}
