body {
background: #FFF url(/images/cms/bg.png) repeat-x 0 0;
text-align: center;
font: 62.5%/100% "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif;
color: #727171;
}

#login_panel {
width: 402px;
text-align: center;
margin-top: 190px;
margin-left: auto;
margin-right: auto;
padding: 0;
}
#form_panel {
color: white;
}

#form_panel {
background: #888 url(/images/cms/login_bg.jpg) repeat-x 0 0;
margin: 0 1px;
height: 164px;
padding: 10px;
* margin-bottom: -8px;
}

#footer {
text-align: right;
margin-right: 10px;
}

.field input {
border-width: 0;
width: 340px;
color: gray;
margin: 10px;
padding: 8px;
font-size: large;
}

.buttons {
margin-top: 8px;
* margin-bottom: -20px;
 margin-left: 12px;
}
#login_button {
float: left;
background: url(/images/cms/buttons/button_cap.png) no-repeat top right;
}
#login_button input {
background: #888888 url(/images/cms/buttons/button.png) no-repeat 0 0;
border-width: 0;
height: 27px;
width: 76px;
margin-right: 2px;
* margin-left: -10px;
font-size: 12px;
font-weight: bold;
color: white;
padding-bottom: 5px;
* padding-bottom: 2px;
padding-left: 8px;
* padding-left: 4px;

}

#remember_me_div label {
display: block;
float: left;
margin: 8px 4px 0 180px;
}
#remember_me {
display: block;
float: left;
margin-top: 6px;
* margin-top: 1px;
}