<div id="footer" class="nav wrapper">
	<div>
		<p>&copy; 1998-2009 BrowserMedia, LLC. All Rights Reserved</p>
		<a href="">footer link 01</a><span>|</span><a href="">footer link 02</a><span>|</span><a href="">footer link 03</a><span>|</span><a href="">footer link 04</a>      
	</div>
</div>