<div id="content">
	<div id="upper_nav" class="nav">
		<div>
	<a href="/home_page">home page</a><span>|</span><a href="/sub_page">sub page</a><span>|</span><a href="">utl nav03</a><span>|</span><a href="">utl nav04</a>
		</div>
	</div>
  
  <div style="clear: both;"></div>
  <div id="header" class="wrapper"><%= image_tag "/themes/blue_steel/images/logo.jpg", :alt=>"logo"%><div id="header_text">
  <h1>BrowserCMS 3.0</h1>
  <p>The newly redesigned BrowserCMS 3.0 is an easy, affordable<br />
    way to control, edit, and organize website content.</p>
  </div></div>
  <div style="clear: both;"></div>      
<div id="mid_nav" class="nav wrapper">
	<!-- Here is the menu generated automatically by render menu. Need to add styles for the ul/li structure so it looks like the 
		a/spans below.
<%= render_menu :from_top => 0, :depth => 1, :class => "main_nav"%> -->
	<div>
	<a href="">nav link 01</a><span>|</span><a href="">nav link 02</a><span>|</span><a href="">nav link 03</a><span>|</span><a href="">nav link 04</a><span>|</span><a href="">nav link 05</a><span>|</span><a href="">nav link 06</a><span>|</span><a href="">nav link 07</a><span>|</span><a href="">nav link 08</a><span>|</span><a href="">nav link 09</a><span>|</span><a href="">nav link 10</a>
	</div>
</div>