<div id="upper_nav" class="nav">
	<div>
<a href="/home_page">home page</a><span>|</span><a href="/sub_page">sub page</a><span>|</span><a href="">utl nav03</a><span>|</span><a href="">utl nav04</a>
	</div>
</div>