<div id="footer">
  <p>&copy; 1998-<%= Time.now.year %> <a href="#">BrowserMedia</a>. All Rights Reserved</p>
  <p>Browser CMS v<%= Cms.version %> | Rails <%= Rails.version %> | Env <%= Rails.env %></p>
</div>