<%= render :partial => 'layouts/cms/head' %>
  <body>
    <div id="wrapper">
      <%= cms_toolbar %>
      <%= render :partial => 'cms/shared/admin_sidebar' %>
      <%= yield %>
    </div>
  </body>
</html>
