<%= render :partial => 'layouts/cms/head' %>
  <body>
		<div id="wrapper">
      <%= cms_toolbar(:dashboard) %>
      <div id="main">
        <div id="contentwrapbig">
        	<div id="content">
        		<div class="pad">        
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <br clear="all" />
      <%= render :partial => 'layouts/cms/footer' %>     
		</div>
  </body>
</html>