<% @toolbar_tab ||= :dashboard %>
<%= render :partial => 'layouts/cms/head' %>
<body>
  <div id="wrapper">
    <%= render_cms_toolbar(@toolbar_tab) %>
    <div id="main">
      <div class="top_cap"></div>
      <div id="contentwrapbig">
        <%= yield %>
      </div>
    </div>
    <br clear="all" />
    <%= render :partial => 'layouts/cms/footer' %>     
  </div>
</body>
</html>
