<% @toolbar_tab ||= :dashboard %>
<%= render :partial => 'layouts/cms/head' %>
<body>
<%= render :partial => 'layouts/cms/thin_toolbar' %>
<div class="container-fluid">
    <div id="contentwrapbig">
      <%= yield %>
    </div>
  <%= render :partial => 'layouts/cms/footer' %>
</div>
</body>
</html>
