<%= render :partial => 'layouts/cms/head' %>
  <body>
		<div id="wrapper">
      <%= cms_toolbar(:sitemap) %>
      <div id="main">
        <%= yield %>
      </div>
      <br clear="all" />
      <%= render :partial => 'layouts/cms/footer' %>     
		</div>
  </body>
</html>