<div class="fields">
  <%= f.label :category_type_id, "Type" %>
  <% @block.category_type ||= (Category.last(:include => :category_type) && Category.last.category_type) %>  
  <%= f.collection_select :category_type_id, CategoryType.all(:order => "name"), :id, :name, :include_blank => true %>
</div>
<div class="fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
