<% @page_title = "Edit '#{h(@link.name)}' Link" %>
<h1><%= @page_title %></h1> 
<% form_for(@link, :url => cms_path(@link, :update)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="buttons">
    <%= f.submit "Save" %>
  </div>
<% end %>