<% @page_title = "Edit '#{h(@link.name)}' Link" %>
<h1 class="page_title"><%= @page_title %></h1> 
<% form_for(@link, :url => cms_path(@link, :update)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<div class="buttons">
  <%= lt_button_wrapper(f.submit("Save", :class => "submit")) %>
  <%= lt_button_wrapper('<button type="submit" name="link[publish_on_save]" value="true" class="submit"><span>Save And Publish</span></button>') %>
</div>
<% end %>
