<!DOCTYPE html>
<html>
<head>
  <title>Browsercms</title>
  <%= stylesheet_link_tag    "browsercms/application" %>
  <%= javascript_include_tag "browsercms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
