<%
   data = {configure_path: edit_link_path(link),
           delete_path: link_path(link),
           type: 'link'
   }
   data[:editable] = false unless @modifiable_sections.include?(parent)

%>
<li><%= tag "a", {href: "#",
                  class: 'selectable',
                  data: data},
            true %>
  <%= icon "share" %> <%= link.name %>
  <span class="span1">
    <%= content_tag "i", "", class: access_icon %>
    </span>
  </a>
</li>