<% first_level =  in_first_level?(node)
 %>
<%= sitemap_ul_tag(node) %>
  <li>
    <%= render :partial => "node", :locals => {
        :node => node, 
        :node_type => "link", 
        :icon => action_icon(first_level ? :root_link : :link),
        :published_status_icon => status_icon(node.status),
        :published_status_label => node.published? ? "Published" : "Draft",
        :parent => parent
      } %>
  </li>
</ul>
