<%# Renders an instance of this in the sitemap. %>
<li><a href="#"><%= icon "share" %> <%= link.name %>
  <span class="span1">
    <%= content_tag "i", "", class: access_icon %>
    </span>
</a>
</li>