<% status = node.archived? ? :archived : node.status %>
<ul id="section_node_<%= section_node.id %>" class="section_node" style="display: <%= display ? "''" : "none" %>">
  <li>
    <%= render :partial => "node", :locals => {
        :node => node, 
        :node_type => "page", 
        :icon => action_icon(:page),
        :hidden => node.hidden?,
        :published_status_icon => status_icon(status),
        :published_status_label => status.to_s.titleize
      } %>
  </li>
</ul>
