<%
   page = node
   status_icon = page.archived? ? :archived : page.status
       first_level = in_first_level?(node)

%>
<%= sitemap_ul_tag(node) %>
  <li>
    <%= render :partial => "node", :locals => {
        :node => node, 
        :node_type => "page", 
        :icon => action_icon(first_level ? :root_page : :page),
        :hidden => page.hidden?,
        :access_icon => status_icon(access_icon),
        :published_status_icon => status_icon(status_icon),
        :published_status_label => status_icon.to_s.titleize,
        :parent => parent
      } %>
  </li>
</ul>
