<ul id="section_node_<%= section_node.id %>" class="section_node" style="display: <%= display ? "''" : "none" %>">
  <li>
    <%= render :partial => "node", :locals => {
        :node => node, 
        :node_type => "section", 
        :icon => action_icon(:folder, :class => "folder"),
        :hidden => node.hidden?,
        :access_icon => status_icon(section.status),
      } %>
    <%= render :partial => "section_node", :collection => node.child_nodes.all(:order => 'position'), :locals => {:display => false} %>    
  </li>
</ul>
