<%
   children = child_hash[key].keys
   section_node = key
   access_status = access_status(node, @public_sections)
   first_level = in_first_level?(node)
%>
<%= sitemap_ul_tag(node) %>
  <li>
    <%= render :partial => "node", :locals => {
            :node => node,
            :node_type => "section",
            :icon => "#{section_icons(section_node, children)} #{action_icon(first_level ? :root_folder : :folder, :class => "folder")}",
            :hidden => node.hidden?,
            :access_icon => status_icon(access_status),
            :parent => parent
    } %>
    <% children.each do |child_section_node| %>
        <%= render :partial => child_section_node.node.partial_for,
                   :locals => {:access_icon => access_status,
                               :node => child_section_node.node,
                               :parent => node,
                               :child_hash => child_hash[key],
                               :key => child_section_node
                   } %>
    <% end %>

  </li>
</ul>
