<div class="padded row-fluid clearfix">
  <% use_page_title "Sitemap" %>
  <h1 class="span3"><%= page_title %></h1>
  <%# Design called for the following buttons. Still need to be implemented but are left here commented out for time being. %>
  <%#
  <span class="span9 top-buttons">
    <div class="btn-group right">
      <button class="btn btn-small btn-primary" tabindex="-1">Add</button>
      <button class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown" tabindex="-1">
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu pull-right">
        <li><a href="#">Page</a></li>
        <li><a href="#">Section</a></li>

        <li class="divider"></li>

        <li><a href="#">Product</a></li>

        <li class="divider"></li>

        <li><a href="#">File</a></li>
        <li><a href="#">Text</a></li>
        <li><a href="#">Image</a></li>
        <li><a href="#">Portlet</a></li>
      </ul>
    </div>

    <div class="btn-group right">
      <button type="submit" class="btn btn-small">Expand All</button>
      <button type="submit" class="btn btn-small">Collapse All</button>
    </div>

    <form class="form-inline right clearfix">
      <label for="inputEmail">Show:</label>
      <select class="show-sort">
        <option>All</option>
        <option>Slides</option>
        <option>Portlets</option>
        <option>Events</option>
        <option>Articles</option>
      </select>
    </form>
  </span>
  %>
</div>