<% content_for :html_head do %>
<% javascript_tag do %>
$(document).ready(function() {
  $('select.dhtml_selector').selectbox({debug:true, width: '96px', dhtml_selector: 'html_block_content'});
});
<% end %>
<% end %>
<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields text_editor_fields">
  <%= f.label :content, "Content" %>
  <%= f.text_editor :content, {:editor_disabled => (cookies[:editorDisabled] == 'true')} %>
</div>
