<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields text_fields">
  <%= f.label :category_id, "Category" %>
  <%= f.collection_select :category_id, categories_for('News Article'), :id, :path, :include_blank => true %>
</div>
