/* DROPDOWN STYLES */
.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle {
    *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
    outline: 0;
}

.caret {
    font-size: 1em;
    margin: 0;
    padding: 0;
    vertical-align: top;
  border-top: none;
  display: inline;

    &:before {
        content: "\25BE";
    }
}

.dropdown .caret {
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    @include rem(padding, 0.5rem 0);
    margin: 0;
    margin-top: 5px;
    margin-left: -1px;
    list-style: none;
    min-width: 100%;
    background-color: #ffffff;
    border: 1px solid rgba(black,0.375);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    @include border-radius(0 0 5px 5px);

    &:after {
        width: 16px;
        height: 16px;
        background: white;
        display: block;
        position: absolute;
        bottom: 100%;
        left: 26px;
        margin-bottom: -8px;
        border-left: 1px solid rgba(black,0.375);
        border-top: 1px solid rgba(black,0.375);
        @include rotate(45deg);
        content: "";
    }

    li {
        margin-bottom: 0;
        z-index: 5;
        position: relative;

        &:before {
            display: none;
        }
    }
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;

    &:after {
        left: auto;
        right: 26px;
    }
}

.dropdown-menu .divider {
    width: 100%;
    height: 1px;
    display: block;
    @include rem(margin,0.5rem 0);
    *margin: -5px 0 5px;
    overflow: hidden;
    background: rgba(black,0.1);
}

.dropdown-menu > li > a {
    display: block;
    @include rem(padding, 0 1.5rem 0 0.75rem);
    @include rem(font-size,1rem);
    clear: both;
    font-weight: normal;
    @include rem(line-height, 2.15rem);
    margin: 0;
    color: $dark;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: $dark;
    text-decoration: none;
    background-color: rgba($primary,0.1);
  background-image: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


.open {
    *z-index: 1000;
}
.open > .dropdown-toggle {
    background: darken($light,15%);
}
.open > .btn-primary.dropdown-toggle {
    background: darken($primary,5%);
}
.open > .dropdown-menu {
    display: block;
}