<div id="footer" class="nav wrapper">
  <div>
    <p>&copy; 1998-2009 BrowserMedia, LLC. All Rights Reserved</p>
    <a href="/footer_nav/site_map">Site Map</a><span>|</span><a href="/footer_nav/privacy_policy">Privacy Policy</a><span>|</span><a href="">Contact Us</a><span>|</span><a href="/footer_nav/our_office">Our Office</a>
  </div>
</div>