<div id="content">
  <div id="upper_nav" class="nav">
    <div>
      <a href="/">Home</a><span>|</span>
      <a href="/util_nav/demo">Demo</a><span>|</span>
      <a href="/util_nav/contact_us">Contact Us</a><span>|</span>
      <a href="/util_nav/about_us">About Us</a>
    </div>
  </div>  
  <div style="clear: both;"></div>
  <div id="header" class="wrapper">
    <a href="/"><%= image_tag "/themes/blue_steel/images/logo.jpg", :alt=>"logo"%></a>
    <div id="header_text">
      <h1>BrowserCMS 3.0</h1>
      <p>
        The newly redesigned BrowserCMS 3.0 is an easy, affordable<br />
        way to control, edit, and organize website content.
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
  <div id="mid_nav" class="nav wrapper">
    <%= render_menu :from_top => 0, :depth => 1%> 
  </div>
