<% if mobile_template_exists?(@page) %>
    <%= content_for :button_bar do %>
        <%
           mobile_state = session[:mobile_mode] == true ? "Mobile" : "Desktop"
        %>
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
            <%= mobile_state %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <%= link_to "View as Mobile", "#{@page.path}?template=mobile", :target => "_top" %>
            <%= link_to "View as Desktop", "#{@page.path}?template=full", :target => "_top" %>
          </ul>
        </div>
    <% end %>
<% end %>