<div class="fields textarea_fields">
  <% if cms_options[:label] %>
    <%= f.label method, cms_options[:label] %>
  <% else %>
    <%= f.label method %>
  <% end %>
  <br />
  <%= f.text_area method, options %>
  <%= f.cms_instructions cms_options[:instructions] %>
</div>