<div class="checkbox_group fields no_check_all">
  <div class="checkbox_fields">
    <%= f.label method, cms_options[:label] %>
    <%= f.check_box method, options %>
  </div>
  <%= f.cms_instructions cms_options[:instructions] %>
</div>