<% @page_title = "Edit #{@portlet.class.to_s.titleize}" %>
<h1><%= @page_title %></h1>
<% form_for(@portlet, :url => cms_path(@portlet, :update)) do |f| %>
  <%= f.error_messages %>
  <%= render :inline => @portlet.portlet_type.form, :locals => {:f => f} %>
  <div class="buttons">
    <%= f.submit "Save" %>
  </div>
<% end %>