<% @page_title = "Edit #{@content_type.display_name}" %>
<h2><%= @page_title %></h2>
<% form_for(@block, :url => cms_path(@block, :update)) do |f| %>
  <%= f.error_messages %>
  <%= render :inline => @block.portlet_type.form, :locals => {:f => f} %>
  <div class="buttons">
    <%= f.submit "Save" %>
  </div>
<% end %>