#functions .box {
background: url(/images/cms/administration/user_browser_bg.gif) repeat-x 0 0;
text-transform: capitalize;
margin-top: -5px;
}
#functions {
padding-bottom: 25px;
}
#blocks td a {
color: #36659D;
font-weight: bold;
text-decoration: none;
}
fieldset.form legend {
font-weight: bold;
font-size: large;
padding: 40px 0 10px 20px;
}
.box input, .box select {
margin: 0 5px;
}
.box div {
float:left;
}
.box .cb input {
display: block;
float:left;
margin-top: 4px;
* margin-top: 1px;
}

.box .cb span {
display: block;
float:left;
margin-top: 6px;
* margin-top: 8px;
font-size: 8pt;
}