@import url(/stylesheets/cms/reset.css);
@import url(/stylesheets/cms/nav.css);
@import url(/stylesheets/cms/menu.css);
@import url(/stylesheets/cms/buttons.css);
@import url(/stylesheets/cms/data_table.css);

body {
background: #FFF url(/images/cms/bg.png) repeat-x 0 0;
text-align: center;
font: 62.5%/100% "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif;
color: #727171;
}



a img { border: 0 }

a { 
  color: #36659D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.check_uncheck { font-size: 80%; }

/* Layout
*/

#wrapper {
margin: 0 auto;
text-align: left;
width: 1000px;
}


#main { 
margin-top: 30px;
}


#contentwrap {
background: transparent url(/images/cms/dot.png) repeat 0 0;
float: left;
width: 826px;
}
div.bottom_cap_content {
height: 10px;
background: transparent url(/images/cms/bottom_cap_content.png) no-repeat 100% 0;
}
div.top_cap_content {
height: 5px;
background: transparent url(/images/cms/top_cap_content.png) no-repeat 100% 0;
}

  #contentwrapbig {
  width: 1000px;
  background: transparent url(/images/cms/dot.png) repeat 0 0;
  float: left;
  }
  
#content {
background: #FFF;
width: 816px;
margin-left: 5px;
}

  #contentwrapbig #content {
    width: 990px;
  }

#footer {
text-align: right;
padding: 16px 15px 100px 0;
color: #A1A1A1;
}
#footer p{
margin-bottom: 7px;
}

	#footer a { 
	color: #5489C7;
	text-decoration: none;
	}
	#footer a:hover { 
	text-decoration: underline;
	}


/* Utility
*/


/* FUNCTION BUTTONS
*/


.searchbox {
  background: #FFF; 
  padding: 6px;
  font-size: 100%;
}
.searchbox select {
width: 160px;
}

#search_term {
  width: 134px;
  height: 20px;
* width: 130px;
  border: 1px solid #B9B9B9;
  border-right: none;
}
#search_term_container, #search_submit_container {
float: left;
}

#search_submit_container{
* margin-top: 1px;
}


#flash { 
  position: absolute; 
  top: 0; 
  left: 250px; 
  background: #ffff99; 
  padding: 5px; 
  color: #000; 
  width: 500px; 
  text-align: center; 
  font-weight: bold
}


#functions h1 {
color: #FFF;
font-size: large;
text-transform: capitalize;
margin: 0 0 10px 0;
padding-bottom: 10px;
border-bottom: 3px solid #505358;
line-height: 1;
}
#functions {
padding: 10px 20px 10px 20px;
text-transform: uppercase;
}
#functions .button {
* margin-bottom: 10px;
}
#content .pad { 
  padding: 1px 5px 5px 5px;
}
#content .top_pad { 
  padding: 5px; 
}
#content .bottom_pad { 
  padding: 5px 
}
div.top_cap {
height: 9px;
background: transparent url(/images/cms/top_cap.png) no-repeat 0 0;
}
