@import url(/stylesheets/cms/reset.css);

body {
background: #FFF url(/images/cms/bg.png) repeat-x 0 0;
text-align: center;
font: 62.5%/100% "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif;
color: #727171;
}



a img { border: 0 }


/* Layout
*/

#wrapper {
margin: 0 auto;
text-align: left;
width: 1000px;
}

#nav {
position: relative;
height: 89px;
}

#nav h1 {
float: left;
}

#nav ul#section {
margin-top: 49px;
margin-left: 25px;
list-style-type: none;
float: left;
}

#nav ul#section li {
display: block;
float: left;
}

	#nav ul#section li {
	
	}
	
	#nav ul#section li a {
	float: left;
	display: block;
	padding: 15px;
	color: #5F5F5F;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	}

	#nav ul#section li.on {
	background: url(/images/cms/nav.png) no-repeat 0 0;
	}
	
	#nav ul#section li.on a {
	background: url(/images/cms/nav_cap.png) no-repeat 100% 0;
	color: #FFF;
	}

#nav ul#userlinks {
list-style-type: none;
float: left;
position: absolute;
top: 0;
right: 0;
}

#nav ul#userlinks li {
display: inline;
float: left;
background: url(/images/cms/usercontrols_bg.png) no-repeat 0 0;
margin-left: 10px;
}

	#nav ul#userlinks li a {
	padding: 9px 15px;
	background: url(/images/cms/usercontrols_bg_cap.png) no-repeat 100% 0;
	color: #666;
	display: block;
	float: left;
	text-decoration: none;
	font-weight: bold;
	}
	
	#nav ul#userlinks li span {
	background: url(/images/cms/icons/user.png) no-repeat 7px 45%; 
	float: left; 
	padding-left: 15px
	}

#nav .cmssearch {
position: absolute;
right: 0;
bottom: 9px;
}

#main { 
margin-top: 30px;
}

#functions {
padding: 10px 0 10px 188px;
background: #747D87;
}

#menu { 
float: left;
background: #747D87;
width: 174px;
}

	#menu h3 {
	background: url(/images/cms/menu_header.png) no-repeat 0 0;
	padding: 6px 6px 6px 15px;
	font-weight: bold;
	}
	
	#menu ul {
	margin-top: 1px;
	}
	
	#menu ul li {
	background: url(/images/cms/menu.png) no-repeat 0 0;
	margin-bottom: 2px;
	}
	
	#menu ul li:last-child { margin-bottom: 0 }
	
		#menu ul li ul li {
		background: none;
		margin-left: 10px;
		}
	
	#menu ul li.open {
	background: #BCD3F0;
	margin-bottom: 2px;
	}
	
	#menu ul li a {
	color: #36659D;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 8px;
	}
	
	#menu ul li.open a {
	border-bottom: 1px solid #666
	}
	
	#menu ul li.open ul li a {
	border-bottom: 1px dotted #999
	}
	
	#menu ul li.open ul li:last-child a { border-bottom: none }

#contentwrap {
background: #747D87;
float: left;
width: 826px;
padding-bottom: 5px;
}
#content {
background: #FFF;
width: 816px;
margin-left: 5px;
}

#footer {
text-align: right;
padding: 15px 15px 0 0;
}

	#footer p {
	color: #BBB;
	}
	
	#footer a { 
	color: #5489C7;
	text-decoration: none;
	}


/* Utility
*/

#menu .pad, #content .pad { padding: 5px }
#menu .pad { padding-top: 0; padding-right: 0; background: #747D87 }


/* TRASH THESE
*/

table tr th { background: #AAA; color: #333; }
table tr td, table tr th { padding: 8px; }
table tr td { border-bottom: 1px solid #EEE; }



/* FUNCTION BUTTONS
*/

a.button { 
	display: block;
	line-height: 27px;
	padding-right: 18px;
	background: url(/images/cms/buttons/sprite.png) no-repeat top right;
	float: left;
	color: #FFF;
	text-decoration: none;
	margin-right: 5px;
}

a.button.left {
	background: url(/images/cms/buttons/sprite.png) no-repeat -175px -27px;
	margin-right: 0;
}

a.button.disabled {
	color: #88A8D2;
}

a.button span {
	display: block;
	background: url(/images/cms/buttons/sprite.png) no-repeat 0 0;
	padding: 0 0 0 18px;
}

a.button.right span {
	background: url(/images/cms/buttons/sprite.png) no-repeat 0 -54px;
}

tr.hover {
  background-color: #ccf;
  cursor: pointer;
}

tr.selected {
  background-color: #9bf;
}

/*
#page {
  margin: 10px auto;
  width: 960px; }

img {
  border: none; }

label {
  display: block; }

label.inline {
  display: inline; }

.field {
  margin-bottom: 10px; }

li.in_progress {
  list-style-image: url(/images/cms/cms/icons/status/in_progress.gif); }

li.published {
  list-style-image: url(/images/cms/cms/icons/actions/published.gif); }

li.hidden {
  list-style-image: url(/images/cms/cms/icons/actions/hidden.gif); }

li.archived {
  list-style-image: url(/images/cms/cms/icons/actions/archived.gif); }

div#cms_toolbar {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #999; }
  div#cms_toolbar a {
    text-decoration: none; }
  div#cms_toolbar a:hover {
    text-decoration: underline; }
  div#cms_toolbar h1 {
    margin: 0;
    display: inline; }
  div#cms_toolbar #nav {
    display: inline;
    margin-right: 25px; }
    div#cms_toolbar #nav li {
      display: inline;
      margin-right: 5px; }

#flash {
  width: 400px;
  height: 50px;
  padding: 5px 0;
  margin: 0 auto; }
  #flash #message {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF; }

.error {
  background-color: #FCC;
  border: 1px solid #C00; 
  padding: 25px; }
  .error .label {
    color: #C00;
    font-weight: bold;
    padding-bottom: 3px;
  }

.notice {
  background-color: #CFC;
  border-color: #9C9; }

.edit_container .header, #block_content .header {
  border: 1px solid black;
  margin: 0;
  padding: 5px; }
.published {
  background-color: #CCFFCC;
}
.draft {
  background-color: #FF6666;
}
strong.published, strong.draft {
  background-color: #FFFFFF;  
}
strong.published {
  color: #009900;
}
strong.draft {
  color: #990000;
}

.edit_container .content, #block_content .content {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
  padding: 5px; }
.edit_container .edit_renderable .header, #block_content .edit_renderable .header {
  background-color: #CCC; }
.edit_container .actions, #block_content .actions {
  display: inline;
  padding: 0 5px; }

table#blocks, table.data {
  border-collapse: collapse; }
  table#blocks th, table#blocks td, table.data td, table.data th {
    border: 1px solid black;
    padding: 5px; }
  table#blocks th, table.data th {
    background-color: #CCF;
    text-align: center; }
  table#blocks td {
    text-align: left; }
  table#blocks td.uses, table#blocks td.view, table#blocks td.edit, table#blocks td.delete, table#blocks td.select {
    text-align: center; }

div.buttons form.button-to {
  display: inline; }
  div.buttons form.button-to div {
    display: inline; }

ul.block_info {
  list-style-type: none; 
  padding-left: 0; }

.block_revision_history {
  background-color: #eee;
  position: absolute;
  padding: 10px;
  margin: 0;
}

.block_revision_history h3 {
  margin: 0 0 10px 0;
  padding: 0;
}

.block_revision_history ul {
  list-style-type: none;
  padding-left: 0;
}

.block_revision_history li {
  padding: 3px;
}

.block_revision_history li.hover {
  background-color: #ccf;
  cursor: pointer;
}

.editor textarea, .editor iframe {
  display: block;
  width: 540px;
  height: 400px;
}

table#draft {
  width: 100%;
  border-collapse: collapse;
}

table#draft th, table#draft td {
  margin: 0;
  border: 1px solid black;
  padding: 5px;
}

table#draft th {
  background-color: #CCF;
}

table#draft td.updated_by,
table#draft td.updated_at,
table#draft td.select {
  text-align: center;
}

table#diff {
  width: 100%;
  margin: 10px 0;
}
table#diff th,
table#diff td {
  border: 1px solid #ccc;
  padding: 4px;
}
table#diff th {
  background-color: #C3DCF3;
  color: #000000;
  padding: 4px;
  text-align: left;
}

h3 {
  color: #0068B5;
  font-size: 16px;
  font-weight: bold;  
}
*/