.toolbar {
margin-bottom: 10px;
}
.header {
clear: both;
font-size: larger;
margin: 10px 0;
}

.status div {
float: left;
margin: 10px 0;
text-transform: capitalize;
}
.nv_pair div {
float: left;
margin: 10px 5px 20px 0;
}
.status img {
float:left;
margin: 8px 5px 0 5px;
}

.content {
margin: 10px;
}