#blocks {
font-weight: bold;
}
#blocks th {
background: #B6B6B6 url(/images/cms/dashboard/table_header_bg.gif) repeat-x 0 0;
border-right: 1px solid #8E8E8E;
border-bottom: 1px solid #8E8E8E;
color: #686868;
font-weight: bold;
font-size: 8pt;
padding-left: 25px;
}
#blocks th.last {
border-right: none;
}
#blocks th.name {
padding-left: 15px;
width: 66%;
}
#blocks th.updated, #blocks th.used {
padding-left: 20px;
}
#blocks .block_status {
padding-left: 10px;
}
#blocks td {
border-bottom: 1px solid #E9E9E9;
padding-left: 30px;
}
#blocks td.name {
color: #36659D;
text-align: left;
padding-left: 20px;
}

#blocks td.updated {
padding-left: 20px;

}
.block_status {
padding: 2px 0 0 10px;
vertical-align: middle;
}
.block_status div, .block_status img {
float: left;
}
.block_status div {
margin: 3px 0 0 3px;
text-transform: capitalize;
}
.block_status img {
border: 1px solid white;
}
.pagination {
margin: 10px;
font-size: 8pt;
font-weight: bold;
}
.pagination div {
float: left;
}
.pagination .info {
margin-right: 220px;
}
.pagination .links span{
margin: 10px;
}
.pagination .links img {
margin-right: 3px;
}
#blocks td.page_name, #blocks td.path {
text-align: left;

}

