#content {
min-height: 500px;
background: #FFF url(/images/cms/content_bg.gif) repeat-x 100% 100%;
}

table.data {
font-weight: bold;
}
table.data th {
  white-space: nowrap;
}
table.data th.name {
padding-left: 15px;
width: 66%;
}
table.data th.updated, table.data th.used div.dividers {
padding-left: 0;
}
table.data td.name {
color: #36659D;
text-align: left;
padding-left: 20px;
}

table.data td.updated_on {
padding-left: 6px;
}

.pagination {
margin: 15px 10px;
* margin-bottom: 30px;
font-size: 8pt;
}
.pagination div {
float: left;
}
.pagination .info {
margin-right: 120px;
width: 200px;

}
.pagination div {
* line-height: 10pt;

}
.pagination .links span{
margin: -6px 10px 0 0;
display: block;
float:left;
}
.pagination .links a{
text-decoration: none;
* margin-top: 2px;
margin-right: 3px;
width: 8px;
display:block;
float: left;
}

.pagination form.current_page {
  display: inline;
  font-size: 8pt;
}

.pagination form.current_page input {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 3px 0 0 0;
  text-align: center;
  border: none;
  background: url(/images/cms/pagination/input.gif) no-repeat 0 0;
}

#first_page_link {
background: url(/images/cms/pagination/first.gif) no-repeat 0 0;
}
#first_page_link:hover {
background: url(/images/cms/pagination/first_h.gif) no-repeat 0 0;
}
#previous_page_link {
background: url(/images/cms/pagination/previous.gif) no-repeat 0 0;
}
#previous_page_link:hover {
background: url(/images/cms/pagination/previous_h.gif) no-repeat 0 0;
}
#next_page_link {
background: url(/images/cms/pagination/next.gif) no-repeat 0 0;
}
#next_page_link:hover {
background: url(/images/cms/pagination/next_h.gif) no-repeat 0 0;
}
#last_page_link {
background: url(/images/cms/pagination/last.gif) no-repeat 0 0;
}
#last_page_link:hover {
background: url(/images/cms/pagination/last_h.gif) no-repeat 0 0;
}

table.data td.page_name, table.data td.path {
text-align: left;

}

#list_all {
margin-left: 15px;
}
#add_button {
margin-right: 15px;
}
#section_id_input {
margin-top: 5px;
border: 1px solid #B9B9B9;
width: 151px;
}
#section_id_container ul li {
background-image: none;
}
.searchbox div.selectbox-wrapper {
margin-left: 0;
* margin:  30px 0px 0px -162px;
}

#search_include_body_container#search_include_body_container {
margin: 4px 0;
padding-top: 4px;
}


#search_include_body_container input, #search_term_container label {
display: block;
float: left;
}

#search_include_body_container input {
margin: -3px 6px 0 0;
* margin: -6px 2px 0 -4px;
}
