.dashboard_unit {
width: 45%;
float: left;
margin: 0 20px 20px 20px;
background-color: #FFFFFF;
}
.dashboard_unit h2 {
background: #4679B8 url(/images/cms/dashboard/header_bg.gif) repeat-x 0 0;
height: 12px;
color: #FFF;
padding: 12px;
font-weight: bold;
font-size: 10pt;
}
.dashboard_unit form {
padding: 5px;
}

.dashboard_unit table {
width: 90%;
}
.dashboard_unit table th.last {
border-right: none;
}
.lt_button {
margin-bottom: 20px;
}
#blocks th.select, #blocks td.select {
border-right: none;
padding: 0;
}

#blocks th {
padding-left: 15px;
}

#blocks td {
padding-left: 16px;
color: #717171;
font-size: 8pt;
line-height: 1.5em;
border-bottom: 1px solid #E9E9E9;
}

#blocks td a {
text-decoration: none;
}
#blocks td.select {
width: 2%;
padding-left: 4px;
}
td.name {
width: 46%;
}
td.updated_by {
width: 20%;
}
td.updated_at {
width: 32%;
}
#page_drafts .lt_button {
margin: 10px 0 60px 6px;
}


#contentwrapbig {
* padding-bottom: 20px;
}