body {
background: #FFF url(/images/cms/toolbar_bg.png) repeat-x 0 0;
}
#page_toolbar {
background: #FFF url(/images/cms/page_toolbar/page_toolbar_bg.gif) repeat-x 0 0;
height: 24px;
text-transform: uppercase;
}
.page_attribute_div {
float: left;
color: #EEE;
* font-size: 8pt;

height: 24px;
padding-right: 8px;
}

#status_div.draft {
background: #F00 url(/images/cms/page_toolbar/status_draft_bg.gif) repeat-x 0 0;
}
#status_div.published {
background: #888 url(/images/cms/page_toolbar/status_published_bg.gif) repeat-x 0 0;
}
.page_attribute_div div {
padding: 0;
}

.page_attribute_label {
float: left;
margin-top: 5px;
margin-left: 7px;
}

.page_attribute_value {
float: left;
margin-top: 2px;
margin-right: 5px;
margin-left: 4px;
}

.page_attribute_value_container {
margin-top: 4px;
margin-left: 4px;
float: left;
background: #FFF url(/images/cms/page_toolbar/page_toolbar_inset_bg.gif) repeat-x 0 0;
}
.page_attribute_value_container a {
color: #EEE;
text-decoration: none;
}
.page_attribute_value_container a:hover {
color: blue;
text-decoration: underline;
}


#draft_page_status_container {
background: #FFF url(/images/cms/page_toolbar/page_toolbar_inset_draft_bg.gif) repeat-x 0 0;
}
#published_page_status_container {
margin-top: 4px;
float: left;
background: #FFF url(/images/cms/page_toolbar/page_toolbar_inset_published_bg.gif) repeat-x 0 0;
}
.buttons a {
* font-size: 8pt;
color: #EEE;
margin-top: 7px;
text-transform: uppercase;
}
#visual_editor_toggle {
float: right;
text-transform: uppercase;
margin-top: 12px;
margin-right: 0px;
color: #000;
font-weight: bold;

}
#visual_editor_toggle div {
float: left;
}
.visual_editor_label {
margin-right: 5px;
margin-top: 6px;
}
.visual_editor_value_container {
background: url(/images/cms/page_toolbar/visual_editor_state_bg.gif) no-repeat 0 0;
width: 35px;
height: 23px;
padding: 0;
color: #EEE;
}
.visual_editor_toggle_container {
height: 20px;
padding: 0;
margin-left: 4px;
margin-top: 1px;
}
.visual_editor_value_container span, .visual_editor_toggle_container a{
display: block;
text-align: center;
float: left;
height: 15px;
text-decoration: none;
}
.visual_editor_value_container span{
padding-top: 5px;
width: 34px;
margin: 1px 0 0 0;
}
.visual_editor_toggle_container a.sm_button{
margin: 0;
width: 62px;
	padding: 5px 0 0 0;
	background: url(/images/cms/buttons/sm_button.gif) no-repeat top right;
	color: #FFF;
	text-decoration: none;
	margin-right: 0px;
}
.visual_editor_toggle_container a.sm_button span{
padding-left: 2px;
}


.visual_editor_toggle_container a.sm_button:hover {
	background: url(/images/cms/buttons/sm_button_h.gif) no-repeat top right;
}

.buttons .publish_button {
}

.spacer {
margin-left: 15px;
}