/* CMS specific styling for page edit goes here */
div.cms {
  font: 12pt "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif;
}

div.actions a img, a.tooltip img {
  border: 0;
}


div.cms_edit_container {
  height: auto;
  width: inherit;
  background: url(/images/cms/containers/alpha.png) repeat-x 0 0;
  border: 1px solid #999;
  margin: -8px 0 0 -8px;
  padding: 24px 7px 1px 7px;
  position: relative;
}

div.cms_edit_connectable {
  display: block;
  height: auto;
  width: inherit;
  position: relative;
  border: 1px solid #999;
  margin: 1px -6px 0 -6px;
  padding: 25px 5px 0 5px; 
  background: url(/images/cms/containers/beta.png) repeat-x 0 0;
}

div.actions {
  display: block;
  width: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 30px;
}

div.actions a {
  text-decoration: none;
  padding: 0 2px 0 0;
  background: none;
  margin: 0;
}

.tooltip { 
  position: absolute;
  top: -1px;
  right: 12px;
}

.cms_edit_connectable .tooltip {
  right: 10px;
}

/*

img.published_status {
  float: right;
  margin-right: 3px;
  margin-top: 2px;
}

/* ACTIONS 
.actions {
margin-top: 1px;
margin-left: 3px;
}

.actions img, .tooltip img {
border: none;
}
.tooltip {
cursor: default;
}


/* CONTAINER 
div.cms_edit_container, div.cms_edit_container_2, div.cms_edit_connectable {
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
div.cms_edit_container{
  background: url(/images/cms/pages/container_border_l.gif) repeat-y 0 0;
}
div.cms_edit_container_2{
  background: url(/images/cms/pages/container_border_r.gif) repeat-y 100% 0;
}

div.cms_edit_connectable {
margin: 1px 0;
}

end */
