body {
background: #FFF url(/images/cms/toolbar_bg.png) repeat-x 0 0;
}
#page_toolbar {
background: #FFF url(/images/cms/page_toolbar/page_toolbar_bg.gif) repeat-x 0 0;
height: 24px;
text-transform: uppercase;
}
.page_attribute_div {
float: left;
color: #EEE;
* font-size: 8pt;

height: 24px;
padding-right: 8px;
}

#status_div.draft {
background: #F00 url(/images/cms/page_toolbar/status_draft_bg.gif) repeat-x 0 0;
}
#status_div.published {
background: #888 url(/images/cms/page_toolbar/status_published_bg.gif) repeat-x 0 0;
}
.page_attribute_div div {
padding: 0;
}

.page_attribute_label {
float: left;
margin-top: 5px;
margin-left: 7px;
}

.page_attribute_value {
float: left;
margin-top: 2px;
margin-right: 5px;
margin-left: 4px;
}

.page_attribute_value_container {
margin-top: 4px;
margin-left: 4px;
float: left;
background: #FFF url(/images/cms/page_toolbar/page_toolbar_inset_bg.gif) repeat-x 0 0;
}
.page_attribute_value_container a {
color: #EEE;
text-decoration: none;
}
.page_attribute_value_container a:hover {
color: blue;
text-decoration: underline;
}


#draft_page_status_container {
background: #FFF url(/images/cms/page_toolbar/page_toolbar_inset_draft_bg.gif) repeat-x 0 0;
}
#published_page_status_container {
margin-top: 4px;
float: left;
background: #FFF url(/images/cms/page_toolbar/page_toolbar_inset_published_bg.gif) repeat-x 0 0;
}
.buttons a {
* font-size: 8pt;
color: #EEE;
margin-top: 7px;
text-transform: uppercase;
}
#visual_editor_toggle {
float: right;
text-transform: uppercase;
margin-top: 12px;
margin-right: 20px;
color: #000;
}
#visual_editor_toggle div {
float: left;
}

.visual_editor_label {
margin-right: 5px;
margin-top: 4px;
}
.visual_editor_value_container {
background: blue url(/images/cms/page_toolbar/visual_editor_bg.gif) repeat 0 0;
width: 66px;
height: 20px;
padding: 0;
color: #EEE;
}
.visual_editor_value_container div{
text-align: center;
float: left;
width: 32px;
height: 15px;
margin: 1px 0 0 0;
padding-top: 3px;
}
.sm_button a {
text-decoration: none;
}
.sm_button {
float: left;
background: blue url(/images/cms/page_toolbar/sm_button_bg.gif) no-repeat 0 0;
}
.sm_button:hover {
background: blue url(/images/cms/page_toolbar/sm_button_bg_h.gif) no-repeat 0 0;
}
