/* CMS specific styling for page edit goes here */
div.cms {
  font: 12pt "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif;
}

div.cms img {
  border: 0;
}

img.published_status {
  float: right;
  margin-right: 3px;
  margin-top: 2px;
}

/* ACTIONS */
.actions {
margin-top: 1px;
margin-left: 3px;
z-index: 1;
}

.actions img {
border: none;
}


/* CONTAINER */
div.cms_edit_container{
  margin: 0 0 0 -1px;
  padding: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  background: #FFF url(/images/cms/pages/container_border_l.gif) repeat-y 0 0;
}
div.cms_edit_container_2{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 0 0 1px;
  padding: 0;
  width: 100%;
  background: #FFF url(/images/cms/pages/container_border_r.gif) repeat-y 100% 0;
}

/* ELEMENT */
div.cms_edit_connectable {
  margin: 1px 0;
  padding: 1px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}





