#sitemap {
  width: 100%;
  border-collapse: collapse;   
  margin: 10px 0;
  padding: 10px;
}

#sitemap td.drop-over {
  background-color: #99c;
}

#sitemap th, #sitemap td {
  margin: 0;
} 


#sitemap th {
  margin: 0;
  padding: 5px; 
} 

#sitemap td {
  margin: 0;
  padding: 0; 
} 

#sitemap td.attributes {
  text-align: right;
  padding-right: 5px;
}

#sitemap th.status, #sitemap td.status {
  width: 100px;
  padding-left: 5px;
}

#sitemap th.node, #sitemap td.node {
  padding-left: 15px;
}

#sitemap th.node {
  text-align: left;
}

#sitemap td.status {
  border-left: 1px solid #999;
}

#buttons a.disabled {
  opacity: 0.5;
}

#sitemap td div.icon_node {
  display: inline;
}

#sitemap span.node {
  cursor: default;
}

#sitemap span.selected {
  background-color: #9bf;
}

#sitemap .node td.drop_before, #sitemap .node td.drop_after {
  height: 5px;
  margin: 0;
  padding: 0;
}

#sitemap table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

#sitemap table td {
  margin: 0;
  padding: 0;
}
