ul.tag-list {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #C6C6C6;
  border-bottom: none;
}
ul.tag-list li {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px dotted #8D8E90;
  background: #FFF;
}
ul.tag-list li.selected {
  background-color: #EAF2FB;
}
