<%
   root = Cms::Section.root.first
   root.full_path = root.name
   @sections = []
   @sections << root
   @sections += root.master_section_list
   @sections.each {|s| s.full_path = "/" + s.full_path unless s == root }

   @block.ensure_attachment_exists

%>
<%#
   In an ideal world, the cms_drop_down would be a cms_section_selector which would apply these values to the options directly.
   That would avoid having to write this out twice.
%>
<span style="display: hidden">
<% @sections.each do |s| -%>
    <%= tag :span, :class=>"section_id_map",  :data=>{:id=> s.id, :path => s.prependable_path}  %>
<% end %>
</span>