<div id="file_block_<%= @content_block.id %>" class="file_block">
  <%= image_tag "cms/icons/file_types/#{@content_block.attachment.icon}.png", :alt=>@content_block.attachment.icon %>
  <%= link_to @content_block.name, @content_block.attachment_link %>
  <%= @content_block.attachment.file_size.round_bytes %>
</div>
