.mercury-editable-toolbar {
  .mercury-moveBlockUp-button {
    background: url(/assets/cms/arrow-up.png) no-repeat 0 0;
  }
  .mercury-moveBlockDown-button {
    background: url(/assets/cms/arrow-down.png) no-repeat 0 0;
  }

  .mercury-removeBlock-button {
    background: url(/assets/cms/cancel.png) no-repeat 0 0;
  }
  .mercury-moveBlockUp-button.active, .mercury-moveBlockDown-button.active, .mercury-removeBlock-button.active {
    background-position: 0 -18px;
  }
}