<% use_page_title "Dashboard" %>

    <div class="row-fluid">
        <div class="span6">
          <%= render :partial => 'page_drafts' %>
        </div>
        <div class="span6">
          <%= render :partial => 'tasks' %>
        </div>
    </div>
