This portlet type '<%= @portlet.name %>' has been deprecated.

<h3>Next Steps:</h3>
<ol>
  <li>Remove this portlet from any pages it was placed on.</li>
  <li>Delete it from the content library.</li>
  <li>If it makes sense, remove any pages they were previously placed on.</li>
</ol>