<div id="version-conflict" class="error">
  <span class="label"><%= t "shared.version_conflict_error.version_conflict" %></span>
  <br/>
  <%= t "shared.version_conflict_error.message", :base_version => other_version.version - (other_version.lock_version - your_version.lock_version),
                                                 :other_user => other_version.updated_by.full_name,
                                                 :other_version => other_version.version %>
</div>
<h3><%= t "shared.version_conflict_error.your_version" %> (v<%=  other_version.version - (other_version.lock_version - your_version.lock_version) %>)</h3>
