<?xml version="1.0" encoding="UTF-8" ?>
<error>
  <message><%=h exception.message %></message>
  <stacktrace>
  <title>Stacktrace</title>
  <body><pre><%=h exception.backtrace.join("<br />") %></pre></body>
  </stacktrace>
</error>