<%= f.button :submit, "Publish", class: 'right btn btn-small btn-primary' %>
<div class="btn-group right">
  <%= f.button :submit, 'Cancel', class: 'btn btn-small' %>
  <%# Functionality for Preview doesn't exist yet. Needs more definition.
  = f.button :submit, 'Preview', class: 'btn btn-small' %>
  <%= f.button :submit, 'Save Draft', class: 'btn btn-small' %>
</div>