<button type="submit" class="right btn btn-small btn-primary">Publish</button>

<div class="btn-group right">
  <button type="submit" class="btn btn-small">Cancel</button>
  <button type="submit" class="btn btn-small">Preview</button>
  <button type="submit" class="btn btn-small">Save Draft</button>
</div>