<div class="cms_edit_container">
    <div class="actions">
      <%= link_to image_tag("cms/pages/add_connectable.gif"), cms_content_types_path(:connect_to_page_id => @page, :connect_to_container => name), :title => "Add new content to this container (#{name})" %>
      <%= link_to image_tag("cms/pages/connect_connectable.gif"), new_cms_connector_path(:page_id => @page, :container => name), :title => "Insert existing content into this container (#{name})" %>
      <%= link_to (image_tag "cms/#{@page.container_published?(name) ? 'published' : 'draft'}_status.gif", :class => "published_status"), '', :class => "tooltip", :title => @page.container_published?(name) ? "This content is published and can be seen by site visitors." : "This content is a draft and won't be seen by site visitors until this page is published." %>
  </div>
  <%= content %>
</div>