<div class="cms-container">
  <%= content %>
  <%= link_to image_tag("cms/plus.png"), cms.content_types_path(:connect_to_page_id => @page, :connect_to_container => name), :class=>'cms-add-content'%>
</div>
