<% @page_title = "Edit '#{h(@page.name)}' Page" %>
<h1><%= @page_title %></h1>
<% form_for(@page, :url => cms_path(@page, :update)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>