<html>
  <head>
  </head>
  <body>
    <table width='960'>
      <tr>
        <td width='720'>
          <h1>Hello, World!</h1>
        </td>
        <td width='240'>      
          <ul><li><a href="/">Home</a></li><li><a href="/about">About Us</a></li></ul>
        </td>
      </tr>
    </table>
  </body>
</html>