-if(logged_in? && @page)
  #page_toolbar
    = link_to((@mode == "edit" ? "Switch to View Mode" : "Switch to Edit Mode"), "#{@page.path}?mode=#{@mode == "edit" ? "view" : "edit"}")
    = link_to "Edit Page Properties", edit_cms_page_path(@page)