<% use_page_title "Sitemap" %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag 'cms/sitemap' %>
    <%= javascript_include_tag 'bootstrap' %>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <style>
      #sitemap {padding: 20px 0; border-radius: 5px; border: 1px solid #999; clear: both;}
      #sitemap span {float: right; color: #000;}
      #sitemap .nav-list .nav-list {padding-right: 0;}
      #sitemap .status {display: block; border-radius: 4px; padding: 0 4px;}
      #sitemap .published {
        color: #000;
        background: #62c462;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#62c462), to(#51a351));
        background: -webkit-linear-gradient(#62c462, #51a351);
        background: -moz-linear-gradient(#62c462, #51a351);
        background: -ms-linear-gradient(#62c462, #51a351);
        background: -o-linear-gradient(#62c462, #51a351);
        background: linear-gradient(#62c462, #51a351);
        text-transform: uppercase;
      }
      #sitemap .draft {
        color: #000;
        background: #EE5F5B;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EE5F5B), to(#BD362F));
        background: -webkit-linear-gradient(#EE5F5B, #BD362F);
        background: -moz-linear-gradient(#EE5F5B, #BD362F);
        background: -ms-linear-gradient(#EE5F5B, #BD362F);
        background: -o-linear-gradient(#EE5F5B, #BD362F);
        background: linear-gradient(#EE5F5B, #BD362F);
        text-transform: uppercase;
      }
      #sitemap .phidden {
        color: #000;
        background: #ffae00;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffae00), to(#bf8a19));
        background: -webkit-linear-gradient(#ffae00, #bf8a19);
        background: -moz-linear-gradient(#ffae00, #bf8a19);
        background: -ms-linear-gradient(#ffae00, #bf8a19);
        background: -o-linear-gradient(#ffae00, #bf8a19);
        background: linear-gradient(#ffae00, #bf8a19);
        text-transform: uppercase;
        float: left;
      }
      #sitemap i {margin-left: 28px;}
      #sitemap .phidden + i {margin-left: 10px;}
      #filter {float: right;clear: both;}
    </style>
  </head>

  <body>
    <div id="filter">Show: <select id="filtershow"><option value="none" selected="selected">None</option><option value="event">Events</option><option value="article">Articles</option><option value="portlet">Portlets</option><option value="slide">Slides</option><option value="all">All</option></select></div>
    <div id="sitemap">
      <ul class="nav nav-list nav-stacked">
        <li><a href="#"><i class="icon-home"></i> My Site</a>
          <ul class="nav nav-list">
            <li><a href="#"><i class="icon-file"></i> Home <span class="span1"><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
            <li><a href="#" data-toggle="collapse" data-target="#section1"><i class="icon-folder-close"></i> Section 1 <span class="span1"><i class="icon-ok-circle"></i><span class="status published">p</span></span></a>
              <ul id="section1" class="nav nav-list collapse">
                <li><a href="#"><i class="icon-file"></i> 404 <span class="span1"><span class="status phidden">H</span> <i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
                <li><a href="#"><i class="icon-file"></i> System <span class="span1"><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
                <li><a href="#"><i class="icon-file"></i> Whatever <span class="span1"><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon-file"></i> Page <span class="span1"><i class="icon-ok-circle"></i><span class="status draft">d</span></span></a></li>
            <li><a href="#" data-toggle="collapse" data-target="#section2"><i class="icon-folder-close"></i> Section 2 <span class="span1"><i class="icon-ok-circle"></i><span class="status published">p</span></span></a>
              <ul class="nav nav-list collapse" id="section2">
                <li><a href="#"><i class="icon-file"></i> Landing <span class="span1"><span class="status phidden">H</span><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
                <li><a href="#" data-toggle="collapse" data-target="#subsection1"><i class="icon-folder-close"></i> Subsection <span class="span1"><i class="icon-ok-circle"></i><span class="status published">p</span></span></a>
                  <ul class="nav nav-list collapse" id="subsection1">
                    <li><a href="#"><i class="icon-file"></i> Page 1 <span class="span1"><span class="status phidden">H</span><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
                    <li><a href="#"><i class="icon-file"></i> Page 2 <span class="span1"><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
                    <li><a href="#"><i class="icon-file"></i> Page 3 <span class="span1"><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
                    <li data-nodetype="portlet"><a href="#"><i class="icon-cog"></i> Portlet <span class="span1"><span class="status phidden">H</span><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="icon-file"></i> Page <span class="span1"><span class="status phidden">H</span><i class="icon-lock"></i><span class="status published">p</span></span></a></li>
            <li data-nodetype="event"><a href="#"><i class="icon-calendar"></i> Event <span class="span1"><span class="status phidden">H</span><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
            <li data-nodetype="article"><a href="#"><i class="icon-list"></i> Article <span class="span1"><span class="status phidden">H</span><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
            <li data-nodetype="portlet"><a href="#"><i class="icon-cog"></i> Portlet <span class="span1"><span class="status phidden">H</span><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
            <li data-nodetype="slide"><a href="#"><i class="icon-picture"></i> Slide <span class="span1"><span class="status phidden">H</span><i class="icon-ok-circle"></i><span class="status published">p</span></span></a></li>
          </ul>
        </li>
       </ul>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $('a[data-toggle="collapse"]').click(function() {
          if($(this).siblings('ul').hasClass('in') == true) {
            $(this).find('i:first').attr('class','icon-folder-close');
          } else {
            $(this).find('i:first').attr('class','icon-folder-open');
          }
        });
        $('#sitemap li[data-nodetype]').hide();
        $('#filtershow').change(function() {
          $('#sitemap li[data-nodetype]').slideUp();
          var what = $(this).val();
          if (what == "none") {
            $('#sitemap li[data-nodetype]').slideUp();
          } else if (what == "all") {
            $('#sitemap li[data-nodetype]').slideDown();
            $('#sitemap li[data-nodetype]').parents('li').children('a[data-toggle]').click();
          } else {
            $('#sitemap li[data-nodetype="'+what+'"]').slideDown();
            $('#sitemap li[data-nodetype="'+what+'"]').parents('li').children('a[data-toggle]').click();
          };
        });
      });
    </script>

  </body>
</html>
