<% @page_title = "Content Library / View #{@content_type.display_name}" %>
<%= render :partial => 'toolbar' %>
<h2>View <%= @block.name %></h2>
<div id="block_content">
  <div class="header <%= @block.class.publishable? && @block.published? ? 'published' : 'draft' %>">Block Contents</div>
  <div class="content"><%= render_connectable(@block) %></div>
</div>
